input[type=search] {
  height: 36px;
  font-size: 15px;
}

form {
  margin: 10px;
}


.bar-title {
  background-color: #C11;
  background-image: none;
}

.bar-title .title {
  font-family: Acme;
  font-size: 3em;
  text-shadow: 0 1px 2px #010202;
}